.button {
  position: relative;
  display: block;
  padding: 9px 24px;
  border: none;
  background: linear-gradient(322.99deg, #f56e39 15.49%, #ff794e 75.81%);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background: none;
    background-color: $white;
    color: $red;
  }
}
