.catalog {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 34px;
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__item {
  display: flex;
  margin-top: 195px;
  margin-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  position: relative;
  box-shadow: inset 0 0 0 1px #ececec;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px #ececec, 0 7px 11px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: inset 0 0 0 1px #ececec, 0 5px 11px -2px rgba(0, 0, 0, 0.1);
  }
}

.catalog__item:hover .catalog__link,
.catalog__item:focus .catalog__link,
.catalog__item:active .catalog__link {
  box-shadow: 0 -11px 0 11px rgba(255, 255, 255, 1);
}

.catalog__item-title {
  @include font(17px, 24px);
  margin: 0;
  margin-top: 26px;
  margin-bottom: 8px;
}

.catalog__title-link {
  color: inherit;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__item-params {
  @include font(13px, 30px, rgba(0, 0, 0, 1) ,400);
  margin: 0;
  padding-bottom: 18px;
}

.catalog__item-price {
  @include font(15px, 24px);
  padding-top: 22px;
  padding-bottom: 26px;
  border-top: 1px solid #ececec;
}

.catalog__link {
  position: absolute;
  left: 0;
  top: -195px;
  width: 100%;
  height: auto;
}

.catalog__basket {
  position: absolute;
  bottom: 32px;
  right: 27px;
  display: block;
  font-size: 0;
  width: 20px;
  height: 19px;
}

.catalog__basket-icon {
  fill: #000000;
  opacity: 0.2;
}

.catalog__basket:hover .catalog__basket-icon,
.catalog__basket:focus .catalog__basket-icon {
  fill: $lightGreen;
  opacity: 1;
}

.catalog__basket:active .catalog__basket-icon {
  fill: $lightGreen;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .catalog {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__item {
    padding-left: 360px;
    min-height: 334px;
    margin-top: 0;
    margin-bottom: 54px;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px #ececec, 7px 0 11px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: inset 0 0 0 1px #ececec, 5px 0 11px -2px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__item-title {
    @include font(20px, 24px);
  }

  .catalog__item:hover .catalog__link,
  .catalog__item:focus .catalog__link,
  .catalog__item:active .catalog__link {
    box-shadow: -11px 0 0 11px rgba(255, 255, 255, 1);
  }

  .catalog__item-params {
    @include font(15px, 30px, #000000, 400);
  }

  .catalog__item-price {
    @include font(17px, 24px);
    margin-top: auto;
    padding-left: 6px;
    border-top: none;

    &::before {
      @include pseudo;
      bottom: 72px;
      left: 366px;
      width: 268px;
      height: 1px;
      background-color: #ececec;
    }
  }

  .catalog__basket {
    bottom: 30px;
    right: 32px;
  }

  .catalog__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
  }
}

@media (min-width: 1150px) {
  .catalog {
    padding-top: 116px;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 58px;
  }

  .catalog__item {
    width: 316px;
    min-height: 659px;
    padding-left: 0;
    margin-bottom: 0;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px #ececec, 0 7px 11px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: inset 0 0 0 1px #ececec, 0 5px 11px -2px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__item-title {
    order: 2;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 28px;
  }

  .catalog__item:hover .catalog__link,
  .catalog__item:focus .catalog__link,
  .catalog__item:active .catalog__link {
    box-shadow: 0 -11px 0 11px rgba(255, 255, 255, 1);
  }

  .catalog__item-params {
    order: 3;
    padding-bottom: 15px;
    padding-left: 28px;
  }

  .catalog__item-price {
    order: 4;
    padding-left: 28px;

    &::before {
      @include pseudo;
      bottom: 72px;
      left: 28px;
      width: 256px;
    }
  }

  .catalog__link {
    position: static;
    width: 316px;
  }
}
