.clients {
  background-color: #2c2c2c;
}

.clients__wrapper {
  position: relative;
  width: 375px;
  margin: 0 auto;
}

.clients__list {
  @include list-reset;

  box-sizing: inherit;
}

.clients__next-case {
  display: none;
}

.clients__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.clients__title {
  display: none;
}

.clients__desc {
  order: 1;
  position: relative;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.clients__subtitle {
  margin: 0;
  position: absolute;
  top: 68%;
  left: -75%;
  width: 408px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  transform: rotate(90deg);
}

.clients__slogan {
  margin: 0;
  position: absolute;
  top: 70%;
  left: -100%;
  width: 408px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  transform: rotate(90deg);
}

.clients__text {
  order: 5;
  display: none;
  padding: 30px 29px 125px 28px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.clients__text-toggle {
  display: block;
  padding: 0;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-decoration: underline;
  color: $white;
}

.clients__count-wrapper {
  order: 3;
  width: 40%;
  min-height: 228px;
  position: relative;
  background: linear-gradient(278.14deg, #f56e39 15.49%, #ff8761 75.81%);
}

.clients__slide-number {
  position: absolute;
  top: 15%;
  left: 37%;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.05em;
  transform: rotate(90deg);
}

.clients__slide-number::before {
  @include pseudo;

  top: 13px;
  right: -75px;
  width: 60px;
  height: 3px;
  background-color: $white;
}

.clients__slide-count {
  position: absolute;
  top: 70%;
  left: 37%;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.05em;
  transform: rotate(90deg);
}

.clients__info {
  order: 5;
  margin: 0;
  padding: 29px 33px 0 29px;
  width: 60%;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
}

.clients__info-toggle {
  margin-top: 10px;
  padding: 0;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-decoration: underline;
  color: $white;
}

.clients__image-wrapper {
  overflow: hidden;
  order: 2;
  position: relative;
  min-height: 408px;
  display: block;
  width: 60%;
}

.clients__btn-more {
  padding: 110px 28px 24px 28px;
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background: linear-gradient(179.03deg, rgba(245, 110, 57, 0) 2.95%, #f56e39 99.11%);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.clients__btn-more::before {
  @include pseudo;
  bottom: 42px;
  right: 30px;
  width: 81px;
  height: 1px;
  background-color: $white;
}

.clients__btn-more::after {
  @include pseudo;
  bottom: 39px;
  right: 30px;
  width: 7px;
  height: 7px;
  border: 1px solid $white;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.clients__nav-wrapper {
  position: absolute;
  bottom: 27px;
  right: 71px;
}

.clients__modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 70px 20px 58px 20px;
  width: 375px;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 100;
}

.clients__modal--show {
  display: block;
}

.clients__modal-title {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 32px;
  line-height: 42px;
  color: $white;
}

.clients__modal-title::before {
  @include pseudo;

  width: 100%;
  height: 3px;
  bottom: -20px;
  left: 0;
  background-color: $white;
}

.clients__modal-list {
  @include list-reset;

  margin-bottom: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.7);
}

.clients__modal-item {
  margin-bottom: 25px;
}

.clients__modal-link {
  display: block;
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: $white;
}

.clients__modal-link::before {
  @include pseudo;
  bottom: 13px;
  right: 30px;
  width: 81px;
  height: 1px;
  background-color: $white;
}

.clients__modal-link::after {
  @include pseudo;
  bottom: 9px;
  right: 31px;
  width: 8px;
  height: 8px;
  border: 1px solid $white;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.clients__modal-close-btn {
  padding: 0;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 37px;
  right: 27px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background: none;
  border: 1px solid $white;
  cursor: pointer;
  outline: none;

  &::before {
    @include pseudo;
    top: 13px;
    left: 6px;
    width: 11px;
    height: 11px;
    border: 2px solid $white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
  }

  &::after {
    @include pseudo;
    top: 13px;
    right: 7px;
    width: 11px;
    height: 11px;
    border: 2px solid $white;
    border-right: none;
    border-top: none;
    transform: rotate(45deg);
  }

  .clients__additional-link {
    display: none;
  }
}


@media (min-width: 768px) {
  .clients__wrapper {
    width: 768px;
  }

  .clients__desc {
    width: 20%;
  }

  .clients__image-wrapper {
    width: 40%;
  }

  .clients__count-wrapper {
    order: 4;
    width: 20%;
  }

  .clients__info {
    order: 5;
  }

  .clients__next-case {
    order: 3;
    padding: 48px 43px 20px 44px;
    display: flex;
    flex-direction: column;
    width: 40%;
    background: url("../img/luggage.png"), $white;
    background-repeat: no-repeat;
    background-position: center;
  }

  .clients__next-title {
    margin: 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
  }

  .clients__next-case-btn {
    margin-top: auto;
    background: none;
    border: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
      text-decoration-color: #000000;
    }
  }

  .clients__image {
    width: 100%;
  }

  .clients__nav-wrapper {
    width: 150px;
  }

  .clients__modal {
    left: 0;
    top: 0;
    padding: 80px 80px 58px 46px;
    width: 768px;
  }

  .clients__modal-title {
    margin-bottom: 60px;
    padding-right: 500px;
  }

  .clients__modal-title::before {
    @include pseudo;

    width: 265px;
    height: 3px;
    bottom: -20px;
    left: 0;
    background-color: $white;
  }

  .clients__modal-list {
    margin-bottom: 70px;
  }

  .clients__modal-link {
    display: block;
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: $white;
  }

  .clients__modal-link::before {
    right: initial;
    left: 210px;
  }

  .clients__modal-link::after {
    right: initial;
    left: 283px;
  }
}


@media (min-width: 1150px) {
  .clients {
    background-color: #171717;
  }

  .clients__wrapper {
    width: 1150px;
  }

  .clients__title {
    order: 1;
    margin: 0;
    margin-top: 46px;
    margin-bottom: 81px;
    display: block;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    color: rgba(255, 255, 255, 0.4);
  }

  .clients__count-wrapper {
    order: 2;
    margin-bottom: 38px;
    width: 100%;
    background: none;
    min-height: inherit;
  }

  .clients__slide-number {
    position: static;
    transform: rotate(0);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
  }

  .clients__slide-number::before {
    height: 1px;
    width: 70px;
    left: 25px;
    top: 11px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .clients__slide-count {
    position: static;
    margin-left: 80px;
    transform: rotate(0);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
  }

  .clients__info {
    order: 3;
    margin-bottom: 78px;
    padding: 0;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: $white;
  }

  .clients__info-toggle {
    display: none;
  }

  .clients__text {
    order: 4;
    margin: 0;
    padding: 0;
    display: block;
  }

  .clients__text-link {
    display: inline-block;

    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: $white;
    cursor: pointer;
  }

  .clients__text-toggle {
    display: none;
  }

  .clients__desc {
    order: 5;
    position: absolute;
    top: 220px;
    right: -115px;
    z-index: 1;
  }

  .clients__item {
    height: 768px;
    padding-left: 60px;
    padding-right: 600px;
    flex-direction: column;
  }

  .clients__image-wrapper {
    order: 6;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .clients__btn-more {
    position: absolute;
    padding-top: 289px;
    width: 40%;
    left: initial;
    top: 0;
    right: 0;
    margin: 0;
    background: $red;
  }

  .clients__image {
    max-height: 768px;
  }

  .clients__next-case {
    order: 7;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 20%;
  }

  .clients__nav-wrapper {
    right: initial;
    left: 95px;
    width: 150px;
  }


  .clients__modal {
    padding: 127px 133px 80px 94px;
    min-height: 772px;
    width: 618px;
    animation: fadeIn 0.4s ease;
  }

  .clients__modal-title {
    margin-bottom: 70px;
    padding-right: 0;
  }

  .clients__modal-list {
    margin-bottom: 100px;
  }

  .clients__modal-link::before {
    left: initial;
    right: 35px;
  }

  .clients__modal-link::after {
    left: initial;
    right: 37px;
  }

  .clients__additional-link {
    display: block;
    position: absolute;
    left: 498px;
    top: 55px;
    width: 9px;
    height: 36px;
    cursor: pointer;
    font-size: 0;
  }

  .clients__additional-link::before {
    @include pseudo;

    top: 14px;
    left: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 -14px $white,
      0 14px $white;
  }
}

@media (min-width: 1440px) {
  .clients__wrapper {
    width: 1440px;
  }

  .clients__item {
    padding-left: 94px;
    padding-right: 800px;
  }

  .clients__image-wrapper {
    width: 55%;
    left: 45%;
  }

  .clients__image {
    width: 487px;
  }

  .clients__text {
    padding-right: 110px;
  }

  .clients__next-case {
    width: 22%;
  }

  .clients__desc {
    top: 65px;
    right: 0;
  }

  .clients__subtitle {
    position: static;
    transform: rotate(0);
  }

  .clients__slogan {
    position: static;
    transform: rotate(0);
  }

  .clients__btn-more {
    padding-right: 80px;
  }

  .clients__nav-wrapper {
    left: 94px;
  }
}
