.contacts {
  position: relative;
}

.contacts__wrapper {
  padding: 37px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contacts__title {
  @include font(18px, 30px);
  margin: 0;
  margin-bottom: 26px;
}

.contacts__icon {
  font-size: 0;
  display: none;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 534px;
}

.contacts__item {
  @include font(15px, 30px, #444444, 400);
  font-style: normal;
  display: flex;
  margin: 0;

  &:first-child {
    margin-bottom: 30px;
  }
}

.contacts__info-title {
  margin-right: 30px;
}

.contacts__email {
  border-bottom: 1px solid $lightGreen;
  cursor: pointer;
  color: #000000;

  &:hover,
  &focus {
    color: $lightGreen;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.contacts__map {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 310px;
  width: 100%;
  min-height: 457px;
  border: none;
}

.contacts__map-image {
  width: 100%;
  min-height: 457px;
  z-index: 8;
}

.contacts__map-pin {
  position: absolute;
  top: calc(50% - 84px);
  left: calc(50% - 20px);
  display: block;
  width: 66px;
  height: 101px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 58px 0 57px 0;
  }

  .contacts__icon {
    position: absolute;
    display: block;
    top: 42px;
    right: 53px;
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__title {
    @include font(43px, 50px);
    margin-bottom: 49px;
  }

  .contacts__info {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 570px;
  }

  .contacts__info-title {
    margin-right: 24px;
  }

  .contacts__item {
    width: 50%;
    font-size: 17px;
  }

  .contacts__feedback {
    min-width: 230px;
    align-self: center;
  }

  .contacts__map {
    top: 303px;
    max-height: 457px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    padding: 73px 50px 96px 50px;
    display: flex;
  }

  .contacts__wrapper {
    width: 50%;
    padding: 69px 0 10px 170px;
  }

  .contacts__icon {
    top: 130px;
    left: 113px;
  }

  .contacts__title {
    @include font(53px, 57px);
  }

  .contacts__info {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__feedback {
    align-self: flex-start;
  }

  .contacts__map {
    position: static;
    width: 50%;
  }

  .contacts__map-link {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 525px;
  }
}
