.main-nav {
  width: 100%;
  padding-top: 80px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-nav__toggle {
  display: none;
}

.main-nav__toggle,
.main-nav__toggle-trigger,
.main-nav__toggle-burger {
  width: 80px;
  height: 80px;
  position: absolute;
  transition: 0.3s ease;
  cursor: pointer;
}

.main-nav__toggle-trigger {
  top: 0;
  left: -26px;
}

.main-nav__toggle-burger {
  top: 36px;
  left: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: -12px 0 $white,
    12px 0 $white,
    12px 12px $white,
    -12px -12px $white,
    12px -12px $white,
    -12px 12px $white;

  &::before {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
    content: "";
    top: -12px;
    left: 0;
  }

  &::after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
    content: "";
    top: 12px;
    left: 0;
  }
}


.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger {
  transform: rotate(180deg);
  box-shadow:
    12px 12px $white,
    -12px -12px $white,
    12px -12px $white,
    -12px 12px $white;
  transition: transform 0.2s ease;
}

.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger::before {
  transform: rotate(45deg) translateX(-5px);
  display: none;
  transition: transform 0.5s ease;
}

.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger::after {
  transform: rotate(-45deg) translateX(-5px);
  display: none;
  transition: transform 0.5s ease;
}

/*.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger + .main-nav__additional-list {
  animation: checked-anim 1s ease both;
}*/

.main-nav__toggle:checked + .main-nav__toggle-trigger ~ .main-nav__additional-list {
  width: 100%;
  display: flex;
}

.main-nav__toggle:checked + .main-nav__toggle-trigger ~ .main-nav__list {
  width: 100%;
  display: flex;
}

@media (min-width: 768px) {
  .main-nav {
    padding-top: 20px;
  }

  .main-nav__toggle ~ .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    padding-top: 0;
    padding-left: 0;
    width: 50%;
    position: static;
  }

  .main-nav__toggle-trigger {
    z-index: 4;
    position: fixed;
    left: 0;
    background-color: #3c3c3c;
  }

  .main-nav__toggle-burger {
    z-index: 5;
    position: fixed;
    left: 37px;
  }

  .main-nav__toggle:checked + .main-nav__toggle-trigger ~ .main-nav__additional-list {
    left: 0;
    width: 20%;
    transform: translateX(0);
  }

  .main-nav__additional-list {
    display: flex;
    top: 0;
    padding-top: 80px;
    width: 20%;
    transform: translateX(-1000px);
    transition: transform 0.5s ease;
    border-bottom-right-radius: 30px;
  }
}


@media (min-width: 1440px) {
  .main-nav {
    width: 40%;
  }
}
