.page-header {
  position: relative;
}

.page-header::before {
  @include pseudo;
  top: 80px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  order: 2;
  display: block;
  margin-top: 28px;
  margin-bottom: 18px;
  cursor: pointer;
  text-align: center;
  width: 166px;
  height: 39px;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__social {
  width: 100%;
  top: 30px;
  right: 26px;
}

.page-header__phone {
  order: 3;
  display: block;
  padding-bottom: 10px;
  margin-left: auto;
  font-weight: 500;
  line-height: 20px;
  color: $white;
}

.page-header__additional-phone {
  display: none;
}

.page-header__nav {
  order: 1;
}
