.performers__wrapper {
  position: relative;
  padding-top: 145px;
  padding-bottom: 60px;
}

.performers__title {
  margin: 0;
  margin-bottom: 59px;
  font-family: "Jura", "Arial", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 41px;
  text-transform: lowercase;
}

.performers__list {
  @include list-reset;
}

.performers__item {
  display: none;
}

.performers__item--active {
  display: block;
}

.performers__name {
  margin: 0;
  margin-bottom: 60px;
  max-width: 30%;
  font: inherit;
  font-size: 100px;
  line-height: 98px;
  font-weight: 300;
}

.performers__position {
  margin: 0;
  margin-bottom: 285px;
  font-size: 40px;
  line-height: 48px;
}

.performers__photo {
  margin: 0;
  position: absolute;
  top: 140px;
  right: 0;
  z-index: -1;
  width: 1000px;
  height: 740px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
}

.performers__photo-image {
  position: absolute;
  top: 0;
  left: calc(50% - 250px);
  width: 519px;
  height: 757px;
}

.performers__nav-wrapper {
  display: flex;
  width: 160px;
}

.performers__nav-button {
  display: block;
  width: 50%;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.performers__nav-button--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.performers__nav-button--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.performers__nav-counter {
  padding-left: 15px;
  font-size: 40px;
  line-height: 48px;
}
