.preview {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.preview__wrapper {
  background-image: url("../img/preview-bg.png");
  background-repeat: no-repeat;
  background-position: right 0;
  padding-top: 35px;
  padding-bottom: 50px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}

.preview__slogan {
  margin: 0;
  margin-bottom: 40px;
  font-size: 31px;
  line-height: 43px;
}

.preview__slogan-lead {
  color: $red;
  padding-right: 200px;
}

.preview__text {
  display: none;
}

.preview__form {
  position: relative;
  width: 100%;
  padding: 25px 24px;
  border-radius: 10px;
  background-color: #444444;
}

.preview__form-text {
  margin: 0;
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.preview__form-input {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  color: $white;
  font-size: 16px;
  line-height: 28px;
}

.preview__form-placeholder {
  position: absolute;
  top: 114px;
  left: 30%;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.preview__form-placeholder::before {
  @include pseudo;

  top: 7px;
  left: -22px;
  width: 15px;
  height: 15px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
}

.preview__form-input:focus + .preview__form-placeholder,
.preview__form-input:active + .preview__form-placeholder {
  display: none;
}

.preview__form-submit {
  width: 100%;
}

.preview__personal-account {
  display: none;
}
