.preview {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url("../img/preview-bg.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

.preview__wrapper {
  padding-top: 35px;
  padding-bottom: 50px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}

.preview__slogan {
  margin: 0;
  margin-bottom: 40px;
  font-size: 31px;
  line-height: 43px;
}

.preview__slogan-lead {
  color: $red;
  padding-right: 200px;
}

.preview__text {
  display: none;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.45);
  text-transform: lowercase;
}

.preview__form {
  position: relative;
  width: 100%;
  padding: 25px 24px;
  border-radius: 10px;
  background-color: #444444;
}

.preview__form-text {
  margin: 0;
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.preview__form-input {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  color: $white;
  font-size: 16px;
  line-height: 28px;
}

.preview__form-placeholder {
  position: absolute;
  top: 114px;
  left: 30%;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.preview__form-placeholder::before {
  @include pseudo;

  top: 7px;
  left: -22px;
  width: 15px;
  height: 15px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
}

.preview__form-input:focus + .preview__form-placeholder,
.preview__form-input:active + .preview__form-placeholder {
  display: none;
}

.preview__form-submit {
  width: 100%;
}

.preview__personal-account {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

@media (min-width: 768px) {
  .preview {
    background: none;
  }

  .preview__wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: row;
  }

  .preview__slogan {
    width: 100%;
    margin-bottom: 15px;
    padding: 0 75px;
    text-align: center;
  }

  .preview__slogan-lead {
    padding: 0;
  }

  .preview__text {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .preview__form {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .preview__form-text {
    font-size: 14px;
    width: 100%;
  }

  .preview__form-input {
    width: 50%;
    margin: 0;
  }

  .preview__form-submit {
    width: 40%;
  }

  .preview__form-placeholder {
    left: 60px;
    top: 88px;
  }

  .preview__personal-account {
    display: block;
    margin-left: auto;
    margin-top: auto;
  }
}

@media (min-width: 1150px) {
  .preview {
    border-top: none;
  }

  .preview__wrapper {
    padding: 88px 0 0 100px;
    border-top: none;
  }

  .preview__slogan {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 525px;
    text-align: left;
  }

  .preview__text {
    margin-bottom: 130px;
    padding-left: 0;
    padding-right: 525px;
    text-align: left;
  }

  .preview__form {
    position: relative;
    padding: 35px 52px 35px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
  }

  .preview__form::before {
    @include pseudo;

    top: 0;
    left: -50px;
    width: 50px;
    height: 100%;
    background-color: #444444;
  }

  .preview__form-text {
    width: 35%;
    margin-bottom: 0;
  }

  .preview__form-input {
    width: 30%;
  }

  .preview__form-submit {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 23%;
  }

  .preview__form-placeholder {
    top: 50px;
    left: 282px;
  }

  .preview__personal-account {
    margin-bottom: auto;
  }
}
