.services {
  background-color: #2c2c2c;
}

.services__wrapper {
  padding-top: 59px;
  padding-bottom: 48px;
  position: relative;
}

.services__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  text-transform: lowercase;
}

.services__subtitle {
  display: none;
  margin: 0;
  font-weight: 300;
  font-size: 32px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.3);
}

.services__list {
  @include list-reset;
}

.services__item {
  display: none;
}

.services__item--active {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.services__item-photo {
  display: none;
}

.services__item--active .services__item-title {
  order: 1;
  margin: 0;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
}

.services__item--active .services__item-name {
  margin: 0;
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.services__item--active .services__video-play-btn {
  order: 2;
  margin-bottom: 30px;
  display: block;
  padding-left: 50px;
  padding-right: 155px;
  min-height: 40px;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: left 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.services__item--active .services__item-text {
  order: 3;
  margin-bottom: 48px;
  padding-right: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.services__item--active .services__btn-more {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $red;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.services__item--active .services__feedback {
  order: 4;
  margin-bottom: 30px;
  align-self: flex-start;
}

.services__item--active .services__link {
  order: 5;
  align-self: flex-start;
  position: relative;
  display: block;
  padding: 9px 39px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: $black;
  }
}

.services__nav-wrapper {
  position: absolute;
  top: 51px;
  right: 28px;
  display: flex;
  width: 90px;
  justify-content: space-between;
}

.services__nav-button {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;

  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  &:active {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.services__nav-button--prev::before {
  @include pseudo;

  top: calc(50% - 4px);
  left: calc(50% - 3px);
  width: 8px;
  height: 8px;
  border: 2px solid $white;
  transform: rotate(45deg);
  border-top: none;
  border-right: none;
}

.services__nav-button--next::before {
  @include pseudo;

  top: calc(50% - 4px);
  left: calc(50% - 5px);
  width: 8px;
  height: 8px;
  border: 2px solid $white;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font: inherit;
}

.services__thumbs {
  display: none;
}

.services__modal {
  display: none;
  position: absolute;
  left: -25px;
  top: -112px;
  padding: 70px 20px 30px 20px;
  width: 335px;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 100;
}

.services__modal--show {
  display: block;
}

.services__modal-title {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 32px;
  line-height: 42px;
  color: $white;
}

.services__modal-title::before {
  @include pseudo;

  width: 100%;
  height: 3px;
  bottom: -20px;
  left: 0;
  background-color: $white;
}

.services__modal-text {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.services__modal-link {
  display: block;
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: $white;
}

.services__modal-link::before {
  @include pseudo;
  bottom: 13px;
  right: 30px;
  width: 81px;
  height: 1px;
  background-color: $white;
}

.services__modal-link::after {
  @include pseudo;
  bottom: 9px;
  right: 31px;
  width: 8px;
  height: 8px;
  border: 1px solid $white;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.services__modal-close-btn {
  padding: 0;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 37px;
  right: 27px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background: none;
  border: 1px solid $white;
  cursor: pointer;
  outline: none;

  &::before {
    @include pseudo;
    top: 13px;
    left: 5px;
    width: 11px;
    height: 11px;
    border: 2px solid $white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
  }

  &::after {
    @include pseudo;
    top: 13px;
    right: 5px;
    width: 11px;
    height: 11px;
    border: 2px solid $white;
    border-right: none;
    border-top: none;
    transform: rotate(45deg);
  }
}

.services__count-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .services__item--active .services__video-play-btn {
    padding-top: 13px;
    margin-bottom: 20px;
  }

  .services__nav-wrapper {
    width: 90px;
    z-index: 50;
  }

  .services__modal {
    left: -50px;
    top: -112px;
    padding: 80px 80px 58px 46px;
    width: 642px;
  }

  .services__modal-title {
    margin-bottom: 60px;
    padding-right: 500px;
  }

  .services__modal-title::before {
    @include pseudo;

    width: 265px;
    height: 3px;
    bottom: -20px;
    left: 0;
    background-color: $white;
  }

  .services__modal-text {
    margin-bottom: 70px;
  }

  .services__modal-link {
    display: block;
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: $white;
  }

  .services__modal-link::before {
    @include pseudo;
    bottom: 13px;
    right: 30px;
    width: 81px;
    height: 1px;
    background-color: $white;
  }

  .services__modal-link::after {
    @include pseudo;
    bottom: 9px;
    right: 31px;
    width: 8px;
    height: 8px;
    border: 1px solid $white;
    transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
  }
}

@media (min-width: 1150px) {
  .services {
    background-color: #171717;
  }

  .services__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 130px;
    padding-bottom: 75px;
  }

  .services__title {
    display: none;
  }

  .services__subtitle {
    position: absolute;
    top: 20%;
    left: 24%;
    width: 150px;
    transform: rotate(-90deg);
    display: block;
  }

  .services__thumbs-container {
    width: 40%;
    height: 621px;
  }

  .services__gallery-container {
    width: 55%;
    height: 621px;
  }

  .services__thumbs {
    @include list-reset;

    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 621px;
    width: 100%;
  }

  .glide__slides {
    width: 100%;
    max-width: 1440px;
    min-height: 621px;
  }

  .glide__track {
    width: 100%;
    max-width: 1440px;
    min-height: 621px;
  }

  .services__item {
    margin-top: auto;
    margin-right: 58px;
    position: relative;
    display: none;
    flex-direction: column;
    width: 242px;
    height: 300px;
  }

  .services__item--next {
    order: 2;
    display: flex;
  }

  .services__item--follow {
    order: 1;
    display: flex;
  }

  .services__item-title {
    margin: 0;
    margin-top: auto;
    padding-left: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    text-align: left;
  }

  .services__item-name {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
  }

  .services__item-text {
    display: none;
  }

  .services__btn-more {
    display: none;
  }

  .services__feedback {
    display: none;
  }

  .services__link {
    display: none;
  }

  .services__video-play-btn {
    display: none;
  }

  .services__list {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 621px;
    box-sizing: inherit;
    z-index: 1;
  }

  .services__item::before {
    @include pseudo;

    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: $red;
    transition: 0.4s ease;
  }

  .services__item:focus::before,
  .services__item:hover::before {
    width: 100%;
  }

  .services__item--active:focus::before,
  .services__item--active:hover::before {
    display: none;
  }

  .services__item-photo {
    display: block;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .services__item--active {
    order: 3;
    display: flex;
    padding-left: 250px;
    width: 55%;
    height: 621px;
    position: relative;
    flex-direction: column;
  }

  .services__item--active .services__item-title {
    order: 1;
    position: absolute;
    top: 0;
    width: 50%;
    height: 80px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .services__item--active .services__item-photo {
    display: block;
    height: 621px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .services__item--active .services__item-name {
    order: 2;
    position: absolute;
    top: 85px;
    display: block;
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .services__item--active .services__item-text {
    order: 3;
    position: absolute;
    top: 155px;
    display: block;
    width: 50%;
    height: 120px;
    margin-bottom: 50px;
    padding-left: 19px;
    overflow: hidden;
  }

  .services__item--active .services__feedback {
    order: 4;
    position: absolute;
    top: 300px;
    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 19px;
  }

  .services__item--active .services__link {
    order: 5;
    position: absolute;
    top: 370px;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    text-align: center;
    margin-left: 19px;
  }

  .services__item--active .services__video-play-btn {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-right: 70px;
    background-position: left top;
    width: 212px;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  .services__nav-wrapper {
    display: flex;
    top: 750px;
    right: 205px;
    width: 150px;
    justify-content: space-between;
  }

  .services__item--active .services__btn-more {
    display: inline-block;
  }

  .services__nav-button {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;

    &:hover,
    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.8);
    }

    &:active {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }

  .services__nav-button--prev::before {
    @include pseudo;

    top: calc(50% - 8px);
    left: calc(50% - 5px);
    width: 16px;
    height: 16px;
    border: 2px solid $white;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
  }

  .services__nav-button--next::before {
    @include pseudo;

    top: calc(50% - 8px);
    left: calc(50% - 11px);
    width: 16px;
    height: 16px;
    border: 2px solid $white;
    transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
  }


  .services__modal {
    padding: 127px 80px 80px 46px;
    min-height: 826px;
    width: 532px;
    top: -130px;
    right: 0;
    left: initial;
    animation: fadeIn 0.4s ease;
  }

  .services__modal-close-btn::before {
    left: 6px;
  }

  .services__modal-close-btn::after {
    right: 6px;
  }

  .services__count-wrapper {
    display: block;
    right: 30px;
    bottom: 300px;
  }
}

@media (min-width: 1440px) {
  .services__item--active {
    padding-left: 320px;
  }

  .services__item--active .services__btn-more {
    padding-left: 0;
  }

  .services__item--active .services__feedback {
    width: initial;
  }

  .services__item--active .services__link {
    width: initial;
    padding-left: 34px;
    padding-right: 34px;
  }

  .services__nav-wrapper {
    top: 690px;
    right: 355px;
  }

  .services__count-wrapper {
    right: 60px;
  }
}
