.social {
  @include list-reset;

  position: absolute;
  display: flex;
  justify-content: space-around;
}

.social__item {
  margin-left: 30px;
}

.social__item:first-child {
  margin-left: auto;
}

.social__link {
  display: block;
}

.social__icon {
  fill: $white;
  transition: 0.1s ease;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 1150px) {
  .social {
    z-index: 1;
  }

  .social__item:first-child {
    margin-left: 0;
  }

  .social__item {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
