@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes checked-anim {
  0% {
    width: 100%;
  }

  100% {
    width: 20%;
  }
}

@keyframes not-checked-anim {
  0% {
    width: 20%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes roll-in {
  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes roll-out {
  0% {
    transform: translateY(0);
    visibility: visible;
  }

  100% {
    transform: translateY(-1.5rem);
    visibility: hidden;
  }
}

@keyframes imgMoveIn {
  100% {
    transform: translate(280px, -321px);
    height: 621px;
  }
}

@keyframes imgMoveOut {
  100% {
    transform: translate(100px, 100px) scale(0.5);
    opacity: 0;
  }
}

@keyframes imgLongMoveIn {
  100% {
    transform: translate(580px, -321px);
    height: 621px;
  }
}

@keyframes slideOut {
  100% {
    transform: translateX(1500px);
    opacity: 0;
  }
}

@keyframes slideOutDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  /*0% {
    opacity: 0;
    transform: translateY(-2em);
  }*/

  /*50% {
    opacity: 1;
  }*/

  100% {
    /*opacity: 1;
    transform: translateY(0);*/
    height: 0;
  }
}

@keyframes buttonsOut {
  100% {
    /*opacity: 0;
    transform: translateY(-100%);*/
    height: 0;
  }
}

@keyframes buttonsIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes thumbsMoveIn {
  0% {
    transform: translate(0, 0);
    height: 300px;
    opacity: 1;
  }

  100% {
    transform: translate(300px, -400px);
    height: 621px;
    opacity: 0;
  }
}

@keyframes thumbsPrevMoveIn {
  0% {
    transform: translate(0, 0);
    height: 300px;
    opacity: 1;
  }

  40% {
    transform: translate(450px, 0);
    height: 300px;
    opacity: 1;
  }

  100% {
    transform: translate(500px, -400px);
    height: 621px;
    opacity: 0;
  }
}

@keyframes thumbsMoveOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}

@keyframes clientsItemsOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(1000px);
  }
}

@keyframes clientsItemsIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
