@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes checked-anim {
  0% {
    width: 100%;
  }

  100% {
    width: 20%;
  }
}

@keyframes not-checked-anim {
  0% {
    width: 20%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes roll-in {
  0% {
    transform: translateY(-1.5rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes roll-out {
  0% {
    transform: translateY(0);
    visibility: visible;
  }

  100% {
    transform: translateY(-1.5rem);
    visibility: hidden;
  }
}

@keyframes img-move-in {
  to {
    transform: translateX(100px);
    height: 621px;
  }
}

@keyframes imgMoveOut {
  100% {
    transform: translate(100px, 100px) scale(0.5);
    opacity: 0;
  }
}

@keyframes slideOutDown {
  20% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(1em);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonsOut {
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes buttonsIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
