*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  background-color: $black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding-left: 26px;
  padding-right: 26px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 50px;
  }

  .site-wrapper {
    background-image: url("../img/preview-bg-desktop.png");
    background-position: top center;
    background-size: 1140px auto;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1150px;
    padding: 0 60px;
  }

  .site-wrapper {
    background-size: 1200px auto;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 65px 0 80px;
  }

  .site-wrapper {
    background-size: 1440px auto;
  }
}
